{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>About Us</title>

     <!--=====FAB ICON=======-->
    <link rel="shortcut icon" href="{% static 'assets/img/logo/fav-logo1.png' %}" type="image/x-icon">

    <!--===== CSS LINK =======-->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owlcarousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!--=====  JS SCRIPT LINK =======-->
    <script src="{% static 'assets/js/plugins/jquery-3-6-0.min.js' %}"></script>

    <style>
      .social-links-mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 30px; 
}

.social-links-mobile-menu li {
  display: inline-block;
}

.social-links-mobile-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 20px; 
}

    </style>
</head>
<body class="homepage1-body">

<!--===== PRELOADER STARTS =======-->
<div id="preloader">
  <div class="home-icon">
    <div class="roof"></div>
    <div class="walls"></div>
    <div class="door"></div>
      <div class="windows">
          <div class="window"></div>
          <div class="window"></div>
      </div>
  </div>
  <div id="ctn-preloader" class="ctn-preloader">
    <div class="animation-preloader">
        <div class="txt-loading">
            <span data-text-preloader="S" class="letters-loading">
              S
            </span>
            <span data-text-preloader="E" class="letters-loading">
               E
            </span>
            <span data-text-preloader="M" class="letters-loading">
                M
            </span>
            <span data-text-preloader="S" class="letters-loading">
                S
            </span>
            <span data-text-preloader="A" class="letters-loading">
                A
            </span>
            <span data-text-preloader="R" class="letters-loading">
                R
            </span>
        </div>
    </div>
  </div>
</div>
<!--===== PRELOADER ENDS =======-->

  <!--===== PAGE PROGRESS START=======-->
  <div class="paginacontainer">
    <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
      </svg>
    </div>
  </div>
<!--===== PAGE PROGRESS END=======-->

   <!--=====HEADER START=======-->
   <header>
    <div class="header-area homepage1 inner-menu header header-sticky d-none d-lg-block " id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-elements" style="display: flex;align-items: center;justify-content: center; position: relative;transition: all 0.4s;border-radius: 42px;padding: 0 20px;">
              <div class="site-logo" style=" flex: 1;text-align: left;">
                <a href=""><img src="{% static 'assets/img/logo/logo2.png' %}" alt="Semsar Logo"></a>
              </div>
              <div class="main-menu" style="flex: 1;text-align: center;padding-right: 350px;margin: 25px auto;" >
                 <div class="header-right">
                <ul>
                  <li><a href="home.html">Home </a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="login.html">Login</a></li>
                  </ul>
                  </div>
              </div>
             
            <div class="body-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--=====HEADER END =======-->

  <!--===== MOBILE HEADER STARTS =======-->
  <div class="mobile-header mobile-haeder2 d-block d-lg-none">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href=""><img src="{% static 'assets/img/logo/logo2.png' %}" alt="Semsar Mobile Logo"></a>
        </div>
        <div class="mobile-nav-icon dots-menu"  style="color: rgb(255, 255, 255); ">
          <i class="fa-solid fa-bars-staggered" style="color: rgb(255, 255, 255); "></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar mobile-sidebar2">
  <div class="logosicon-area">
     <div class="site-logo">
        <a href=""><img src="{% static 'assets/img/logo/logo1.png' %}" alt="Semsar Logo"></a>
        </div>
    <div class="menu-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
   </div>
  <div class="mobile-nav mobile-nav1">
    <ul class="mobile-nav-list nav-list1">
      <li><a href="home.html" >Home </a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="login.html">Login</a></li>
    <div class="allmobilesection">
      <div class="single-footer">
        <h3>Contact Info</h3>
        <div class="footer1-contact-info">
          <div class="contact-info-single">
            <div class="contact-info-icon">
              <span><i class="fa-solid fa-phone-volume"></i></span>
            </div>
            <div class="contact-info-text">
              <a href="tel:+3(924)4596512">+0201020017477</a>
            </div>
          </div>
          
          <div class="single-footer" >
            <h3>Our Location</h3>
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <span><i class="fa-solid fa-location-dot"></i></span>
              </div>
              <div class="contact-info-text">
                <a href="mailto:info@example.com" >57th Street, Al-Bashaer District<br> 6th october, Giza </a>
              </div>
            </div>
          </div>
          <div class="single-footer"  >
            <h3>Social Links</h3> 
            <div class="social-links-mobile-menu" >
              <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
 
<!--===== MOBILE HEADER STARTS =======-->

<!--===== HERO AREA STARTS =======-->

<div class="inner-section-area" style="background-image: linear-gradient(rgb(0, 0, 0), rgba(4, 10, 30, 0.201)), url('assets/img/all-images/img.jpg'); background-size: cover; background-position: center center; min-height: 300px;">
  
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="inner-header heading1">
                    <a href="home.html">Home <i class="fa-solid fa-angle-right"></i> <span>About Us</span></a>
                    <div class="space20"></div>
                    <h2>A Team Of Experts Ready To Help</h2>
                     <div class="space16"></div>
                     <div class="inner-header heading1">
                    <p class="" style="font-size: large; color: rgb(255, 255, 255) ; font-weight: bolder;" >Our team of dedicated experts is here to guide you every step of the way. Whether you’re buying your first home, looking for a luxurious upgrade, or expertise to make your real estate journey seamless and rewarding.</p>
                  
                    
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== OTHERS AREA STARTS =======-->
<div class="inner-others-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="images image-anime reveal">
                    <img src="{% static 'assets/img/all-images/business-agreement-handshake.jpg' %}" alt="Business Agreement Handshake"  >
                </div>
            </div>

            <div class="col-lg-9">
                <div class="other-area">
                    <div class="img1 image-anime reveal">
                        <img src="{% static 'assets/img/all-images/FutureOfRealEstateTeams.jpg' %}" alt="Future of Real Estate Teams" style="filter: brightness(87%);">
                    </div>
                    
            </div>
        </div>
    </div>
</div>
<!--===== OTHERS AREA ENDS =======-->

<!--===== ABOUT AREA STARTS =======-->
<div style="background-color:rgba(218, 216, 216, 0.247);">
<div class="about4-section-area sp1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-all-images">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="images">
                <div class="img1 reveal image-anime">
                  <img src="{% static 'assets/img/all-images/broker.jpg' %}" alt="Broker Image" style="height: 200px;; width: 270px;" >
                </div>
                <div class="space20"></div>
                <div class="img1 reveal image-anime">
                  <img src="{% static 'assets/img/all-images/real estate.jpg' %}" alt="Real Estate Image" style="height: 270px;; width: 320px;">
                </div>
              </div>
            </div>
            <div class="space30 d-md-none d-block"></div>
            <div class="col-lg-6 col-md-6">
              <div class="images">
                <div class="img1 reveal image-anime">
                  <img src="{% static 'assets/img/all-images/photo-about.jpg' %}" alt="Photo About" style="height: 270px;; width: 320px;" >
                </div>
                <div class="space20"></div>
                <div class="img1 reveal image-anime">
                  <img src="{% static 'assets/img/all-images/real.jpg' %}" alt="Real Image" style="height: 200px;; width: 270px;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="about4-header heading8">
          <h5 class="text-anim"><img src="{% static 'assets/img/icons/logo-icon3.svg' %}" alt="Logo Icon">About Real Estate Agency</h5>
          <h2 class="text-anime-style-3">The Story Of Semsar And The Team Behind Your Next Home</h2>
          <div class="space24"></div>
          <p class="text-anim">At Semsar Real, is to transform dreams into reality by connecting people with their perfect homes. We are committed to providing exceptional service, unparalleled market expertise, and personalized solutions that cater to each client's unique needs, we transform the way you experience real estate. Our platform is powered by passion, integrity, and unmatched expertise, designed to guide you effortlessly through every step of your property journey. Whether you're searching for your dream home or seeking the perfect investment, we deliver unparalleled service and results. Trust us to turn your ambitions into achievements </p>
          <div class="space32"></div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--===== ABOUT AREA ENDS =======-->

<!--===== MISSION AREA STARTS =======-->

<div class="mission-section-area sp1">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
              <div class="mission-author-area">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                      <div class="mission-content heading2">
                          <h5><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="Logo Icon">Our Mission</h5>
                          <h2>Our Mission</h2>
                          <div class="space24"></div>
                          <p>Our mission is to provide exceptional real estate services that exceed your expectations & finding your desired property. We aim to build lasting relationships based on trust with professional brokers helping you, integrity, and outstanding results. Whether you're buying or Renting, we are here to guide you through every step of the process.</p>
                          <div class="space32"></div>
                          <div class="btn-area1">
                            <a href="login.html" class="header-btn1">Request a Broker <img src="{% static 'assets/img/icons/arrow1.svg' %}" alt="Arrow Icon"></a>
                          </div>
                      </div>
                      <div class="space30 d-lg-none d-block"></div>
                  </div>
  
                  <div class="col-lg-6">
                      <img src="{% static 'assets/img/all-images/our mission.jpg' %}" alt="Our Mission Image" style="height: 400px;; width: 500px;">
                  </div>
              </div>
              </div>
              </div>
            </div>
            <div class="space100 d-lg-block d-none"></div>
            <div class="space50 d-lg-none d-block"></div>
            <div class="col-lg-10 m-auto">
              <div class="mission-author-area">
                <div class="row align-items-center">
                  <div class="col-lg-6">
                    <div class="images image-anime reveal">
                        <img src="{% static 'assets/img/all-images/are.jpg' %}" alt="Who We Are Image">
                    </div>
                </div>
                  <div class="col-lg-6">
                    <div class="space30 d-lg-none d-block"></div>
                      <div class="mission-content heading2">
                          <h5><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="Logo Icon">Who We Are</h5>
                          <h2>Who We Are</h2>
                          <div class="space24"></div>
                          <p>We are a team of experienced and passionate real estate professionals who are committed to making your real estate journey smooth and successful. Our deep understanding of the local market, combined with our innovative strategies, ensures that you receive the best possible service and list of our featured Properties.</p>
                          <div class="space32"></div>
                          <div class="btn-area1">
                            <a href="login.html" class="header-btn1">View Our Properties <img src="{% static 'assets/img/icons/arrow1.svg' %}" alt="Arrow Icon"></a>
                          </div>
                      </div>
                  </div>
              </div>
              </div>
            </div>
        </div>
    </div>
</div>
<!--===== SERVICE AREA STARTS =======-->
<div class="service-inner-section-area sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-7  m-auto">
        <div class="service4-header text-center heading2">
          <h5><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="Logo Icon">What We Offer</h5>
          <h2>Upgrade To a Smarter Living <br class="d-lg-block d-none"> Experience With Home Automation</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="img1 reveal image-anime">
          <img src="{% static 'assets/img/all-images/home5.jpg' %}" alt="Home Automation Image" style="height: 380px;; width: 370px;">
        </div>
      </div>
      <div class="col-lg-8">
        <div class="service-boxes">
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="service-author-box">
                <div class="icons">
                  <img src="{% static 'assets/img/icons/service-icon5.svg' %}" alt="Service Icon">
                </div>
                <div class="space24"></div>
                <div class="content-area">
                  <a href="login.html">Buying A Home</a>
                  <div class="space16"></div>
                  <p>At Semsar, we understand that buying a home is one of the most significant investments you'll ever make. Our experienced agents are here to guide you through every step of the home-buying process.</p>
                  <div class="space24"></div>
                  <a href="login.html" class="readmore">View Properties <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="service-author-box">
                <div class="icons">
                  <img src="{% static 'assets/img/icons/service-icon5.svg' %}" alt="Service Icon">
                </div>
                <div class="space24"></div>
                <div class="content-area">
                  <a href="login.html">Renting A Home</a>
                  <div class="space16"></div>
                  <p>Finding the perfect rental property can be challenging, but with Semsar, it’s a breeze. Whether you’re looking for a short-term lease or a long-term rental, we have a diverse selection of properties to meet with Our experienced agents .</p>
                  <div class="space24"></div>
                  <a href="login.html" class="readmore">View Properties <i class="fa-solid fa-arrow-right"></i></a>
                </div>
              </div>
            </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== SERVICE AREA ENDS =======-->

<!--===== OTHERS AREA STARTS =======-->
<div class="visit-section-area bg1 sp1">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 m-auto">
        <div class="visit-header text-center heading2">
          <h5><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="Logo Icon">Visit Our Office</h5>
          <h2>Come and Visit our Office </h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="visit-slider-area">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="images image-anime reveal">
                <img src="{% static 'assets/img/all-images/office3.jpg' %}" alt="Office Image" style="height: 400px;; width: 850px;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="all-item-area owl-carousel">
                <div class="testemonial-boxarea heading2">
                  <h2>6th October, Giza</h2>
                  <div class="space16"></div>
                  <p>Located in the heart of Giza, our office serves as a central hub for all your real estate needs in the Bay Area.</p>
    
                  <div class="icons-flex-area">
                    <div class="icons">
                      <img src="{% static 'assets/img/icons/location2.svg' %}" alt="Location Icon">
                    </div>
                    <div class="text">
                      <a href="#">57th Street, Al-Bashaer District, <br class="d-lg-block d-none"> 6th october, Egypt.</a>
                    </div>
                  </div>
    
                  <div class="icons-flex-area">
                    <div class="icons">
                      <img src="{% static 'assets/img/icons/call2.svg' %}" alt="Call Icon">
                    </div>
                    <div class="text">
                      <a href="tel:(925)683-1469">+0201020017477</a>
                    </div>
                  </div>
    
                  </div>
                </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== OTHERS AREA ENDS =======-->

<!--===== CTA AREA STARTS =======-->
<div class="cta1-section-area sp1">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-5">
        <div class="cta-header heading1">
          <h2 >We’re Here To Find Your New Home Project.</h2>
        </div>
      </div>
      <div class="col-lg-3"></div>
      <div class="col-lg-4">
        <div class="cta-btn-area">
          <a href="login.html" class="header-btn1">Request a Broker<img src="{% static 'assets/img/icons/arrow1.svg' %}" alt="Arrow Icon"></a>
          <a href="login.html" class="header-btn1 btn1">Our Property <img src="{% static 'assets/img/icons/arrow1.svg' %}" alt="Arrow Icon"></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== CTA AREA ENDS =======-->

<!--===== FOOTER AREA STARTS =======-->
<div class="footer1-section-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="footer-logo-area">
          <img src="{% static 'assets/img/logo/logo1.png' %}" alt="Semsar Footer Logo">
          <div class="space32"></div>
          <h4>Your dream property comes true</h4>
          <div class="space16"></div>
          <p>At Semsar, we are committed to providing exceptional service and support. Whether you are looking buy or rent in real estate, our team is here help.</p>
          
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6">
        <div class="footer-header padding-left1">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="login.html">Login</a></li>
            

          </ul>
        </div>
      </div>


      <div class="col-lg col-md-6">
        <div class="footer-header">
          <h3>   Info   </h3>
          <ul>
            <li><span><img src="{% static 'assets/img/icons/location1.svg' %}" alt="Location Icon"></span><a href="">57th Street, Al-Bashaer District.6th october</a></li>
            <li><span><img src="{% static 'assets/img/icons/call1.svg' %}" alt="Call Icon"></span><a href="tel:(925)683-1469">+0201020017477</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="space50 d-lg-block d-none"></div>
    <div class="space30 d-lg-none d-block"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright">
          <div class="pera">
            <p>ⓒCopyright 2025 Semsar . All rights reserved</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== FOOTER AREA ENDS =======-->

<!--===== JS SCRIPT LINK =======-->
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/fontawesome.js' %}"></script>
<script src="{% static 'assets/js/plugins/aos.js' %}"></script>
<script src="{% static 'assets/js/plugins/counter.js' %}"></script>
<script src="{% static 'assets/js/plugins/sidebar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/mobilemenu.js' %}"></script>
<script src="{% static 'assets/js/plugins/owlcarousel.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/nice-select.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick-slider.js' %}"></script>
<script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
<script src="{% static 'assets/js/plugins/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/Splitetext.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>