{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Semsar</title>

     <!--=====FAB ICON=======-->
    <link rel="shortcut icon" href="{% static 'assets/img/logo/fav-logo1.png' %}" type="image/x-icon">

    <!--===== CSS LINK =======-->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/aos.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/mobile.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owlcarousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick-slider.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">

    <!--=====  JS SCRIPT LINK =======-->
    <script src="{% static 'assets/js/plugins/jquery-3-6-0.min.js' %}"></script>
    <style>
      .social-links-mobile-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 30px; 
}

.social-links-mobile-menu li {
  display: inline-block;
}

.social-links-mobile-menu a {
  text-decoration: none;
  color: inherit;
  font-size: 20px; 
}

    </style>
</head>
<body class="homepage2-body">

<!--===== PRELOADER STARTS =======-->
<div id="preloader">
  <div class="home-icon">
    <div class="roof2"></div>
    <div class="walls2"></div>
    <div class="door"></div>
      <div class="windows">
          <div class="window"></div>
          <div class="window"></div>
      </div>
  </div>
  <div id="ctn-preloader" class="ctn-preloader">
    <div class="animation-preloader">
        <div class="txt-loading">
           <span data-text-preloader="S" class="letters-loading">
              S
            </span>
            <span data-text-preloader="E" class="letters-loading">
               E
            </span>
            <span data-text-preloader="M" class="letters-loading">
                M
            </span>
            <span data-text-preloader="S" class="letters-loading">
                S
            </span>
            <span data-text-preloader="A" class="letters-loading">
                A
            </span>
            <span data-text-preloader="R" class="letters-loading">
                R
            </span>
        </div>
    </div>
  </div>
</div>
<!--===== PRELOADER ENDS =======-->

  <!--===== PAGE PROGRESS START=======-->
  <div class="paginacontainer">
    <div class="progress-wrap">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"/>
      </svg>
    </div>
  </div>
<!--===== PAGE PROGRESS END=======-->

   <!--=====HEADER START=======-->
   <header>
    <div class="header-area homepage2 header header-sticky d-none d-lg-block " id="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-elements" style="display: flex;align-items: center;justify-content: center; position: relative;transition: all 0.4s;border-radius: 42px;padding: 0 20px;">
              <div class="site-logo" style=" flex: 1;text-align: left;">
                <a href=""><img src="{% static 'assets/img/logo/logo1.png' %}" alt=""></a>
              </div>
              <div class="main-menu" style="flex: 1;text-align: center;padding-right: 350px;margin: 25px auto;" >
                <ul>
                  <li><a href="{% url 'home' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'login' %}">Login</a></li>
                  
                </div>

              <div class="header-search-form-wrapper">
                <div class="tx-search-close tx-close"><i class="fa-solid fa-xmark"></i></div>
                <div class="header-search-container">
                    <form role="search" class="search-form">
                    <input type="search"  class="search-field" placeholder="Search …" value="" name="s">
                    <button type="submit" class="search-submit"><img src="{% static 'assets/img/icons/search1.svg' %}" alt=""></button>
                    </form>
                </div>
            </div>
            <div class="body-overlay"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--=====HEADER END =======-->

  <!--===== MOBILE HEADER STARTS =======-->
 <div class="mobile-header mobile-haeder2 d-block d-lg-none">
  <div class="container-fluid">
    <div class="col-12">
      <div class="mobile-header-elements">
        <div class="mobile-logo">
          <a href=""><img src="{% static 'assets/img/logo/logo2.png' %}" alt=""></a>
        </div>
        <div class="mobile-nav-icon dots-menu"  style="color: rgb(255, 255, 255); ">
          <i class="fa-solid fa-bars-staggered" style="color: rgb(255, 255, 255); "></i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mobile-sidebar mobile-sidebar2">
  <div class="logosicon-area">
     <div class="site-logo">
        <a href=""><img src="{% static 'assets/img/logo/logo1.png' %}" alt=""></a>
        </div>
    <div class="menu-close">
      <i class="fa-solid fa-xmark"></i>
    </div>
   </div>
  <div class="mobile-nav mobile-nav1">
    <ul class="mobile-nav-list nav-list1">
      <li><a href="{% url 'home' %}" >Home </a>
       
          </li>
        
      <li><a href="{% url 'about' %}">About</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
      
    <div class="allmobilesection">
      <div class="single-footer">
        <h3>Contact Info</h3>
        <div class="footer1-contact-info">
          <div class="contact-info-single">
            <div class="contact-info-icon">
              <span><i class="fa-solid fa-phone-volume"></i></span>
            </div>
            <div class="contact-info-text">
              <a href="tel:+3(924)4596512">+0201020017477</a>
            </div>
          </div>
          
          <div class="single-footer" >
            <h3>Our Location</h3>
            <div class="contact-info-single">
              <div class="contact-info-icon">
                <span><i class="fa-solid fa-location-dot"></i></span>
              </div>
              <div class="contact-info-text">
                <a href="mailto:info@example.com" >57th Street, Al-Bashaer District<br> 6th october, Giza </a>
              </div>
            </div>
          </div>
          <div class="single-footer"  >
            <h3>Social Links</h3> 
            <div class="social-links-mobile-menu" >
              <ul>
                <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>
<!--===== MOBILE HEADER STARTS =======-->

<!--===== HERO AREA STARTS =======-->
<div class="home-slider-area owl-carousel">
  <div class="hero2-section-area">
    <div class="image" ><img src="{% static 'assets/img/all-images/home1.jpg' %}" alt="" class="header-img2" style="height: 700px; width: 605px;"></div>
    <img src="{% static 'assets/img/elements/header-bg1.png' %}" alt="" class="header-bg1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5">
                  <div class="hero-header heading3">
                      <h5><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="">REAL ESTATE AGENCY</h5>
                      <h1>Find Your Dream Home Today!</h1>
                      <div class="space20"></div>
                      <p>Browse our exclusive Properties and find the perfect property that suits your our needs and circumstances. Your ideal home just click away.</p>
                      <div class="space32"></div>
                      <div class="btn-area1">
                          <a href="{% url 'login' %}" class="header-btn2">Explore Our Properties <i class="fa-solid fa-angle-right"></i></a>
                      </div>
                      <span>01/03</span>
                  </div>
              </div>
              <div class="col-lg-4">
                <div class="images" style="height: 400px; width: 445px;">
                  <img src="{% static 'assets/img/all-images/home7.jpg' %}" alt="">
                </div>
              </div>
          </div>
      </div>
  </div>

  <div class="hero2-section-area">
    <div><img src="{% static 'assets/img/all-images/home2.jpg' %}" alt="" class="header-img2" style="height: 700px; width: 605px;"></div>
    <img src="{% static 'assets/img/elements/header-bg1.png' %}" alt="" class="header-bg1">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-5">
                  <div class="hero-header heading3">
                      <h5 class="text-anim"><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="">REAL ESTATE AGENCY</h5>
                      <h1 class="text-anim">Your Home In Your Pocket!</h1>
                      <div class="space20"></div>
                      <p class="text-anim">Get help from the most experienced brokers to find the perfect property that suits your lifestyle and budget. Your dream home just click away.</p>
                      <div class="space32"></div>
                      <div class="btn-area1 text-anim">
                          <a href="{% url 'login' %}" class="header-btn2">Request a Broker <i class="fa-solid fa-angle-right"></i></a>
                      </div>
                      <span>02/03</span>
                  </div>
              </div>
              <div class="col-lg-5">
                <div class="images">
                  <img src="{% static 'assets/img/all-images/home.jpg' %}" alt="" style="height: 400px; width: 600px;">
                </div>
              </div>
          </div>
      </div>
  </div>

  
              </div>
          </div>
      </div>
  </div>
</div>
<!--===== HERO AREA ENDS =======-->

<!--===== ABOUT AREA STARTS =======-->
<div class="about3-section-area sp1">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about3-images-area">
                    <div class="img1 reveal">
                        <img src="{% static 'assets/img/all-images/ab2.jpg' %}" alt="" style="height: 500px; width: 481px;">
                    </div>
                    <div class="img2 reveal">
                        <img src="{% static 'assets/img/all-images/ab.jpg' %}" alt=""style="height: 400px; width: 350px;">
                    </div>
                   
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content-area heading6">
          <h5 class="text-anim" style="color: #164D59;"><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="">About Real Estate Agency</h5>
                    <h2 class="text-anime-style-3">Discover Our Commitment To Excellence And Integrity</h2>
                    <div class="space24"></div>
                    <p class="text-anim">Welcome to Semsar, where we transform real estate dreams into reality. With passion for excellence, our team of dedicated professionals is committed to providing exceptional service and expert guidance.</p>
                    <div class="space24"></div>
                    <p class="text-anim">We specialize in helping clients Buy, Rent and invest in properties, ensuring each transaction is smooth and successful. Our deep knowledge of the local market, combined with our personalized approach, allows us to tailor our services to meet your unique needs</p>
                    <div class="space32"></div>
                    <div class="bnt-area1 text-anim">
                        <a href="{% url 'about' %}" class="header-btn3" >Discover More <img src="{% static 'assets/img/icons/arrow1.svg' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--===== ABOUT AREA ENDS =======-->     
<!--===== PROPERTIES AREA STARTS =======-->
<div class="properties2-section-area sp2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 m-auto">
        <div class="property-header text-center heading2">
          <h5 class="text-anim"><img src="{% static 'assets/img/icons/logo-icon1.svg' %}" alt="">OUR LISTING</h5>
          <h2 class="text-anim">Explore Our Latest Properties</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-pills" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home1-tab" data-bs-toggle="pill" data-bs-target="#pills-all" type="button" role="tab" aria-controls="pills-all" aria-selected="true">View All</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-apartment-tab" data-bs-toggle="pill" data-bs-target="#pills-apartment" type="button" role="tab" aria-controls="pills-apartment" aria-selected="false">Apartment</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-villa-tab" data-bs-toggle="pill" data-bs-target="#pills-villa" type="button" role="tab" aria-controls="pills-villa" aria-selected="false">villa</button>
          </li>

        </ul>


        <div class="tab-content"  data-aos="fade-up" data-aos-duration="1000" >
          <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-home1-tab" tabindex="0">
            <div class="row">
              <div class="col-lg-4 col-md-6 ">
                <div class="property-boxarea">
                  <div class="img1">
                    <img src="{% static 'assets/img/all-images/apart.jpg' %}" alt="">
                  </div>
                  <div class="sell-point">
                    <a href="#" class="sell">FOR RENT</a>
                  </div>
                  <div class="content-area" >
                    <a href="#">Fully Furnished Apartment In Makram Ebeid,Nasr City  </a>
                    <p>Makram Ebeid St., 6th Zone, Nasr City, Cairo</p>
                    <ul>
                      <li><a href="#"><img src="{% static 'assets/img/icons/sqft.svg' %}" alt="">250 sqm</a></li>
                      <li><a href="#"><img src="{% static 'assets/img/icons/bed.svg' %}" alt="">3 Beds</a></li>
                      <li class="m-0"><a href="#"><img src="{% static 'assets/img/icons/bath.svg' %}" alt="">3 Baths</a></li>
                    </ul>
                    <div class="price-area mt-auto" >
                      <h3>6,000 EGP/month</h3>
                      <div class="btn-area1">
                        <a href="{% url 'login' %}" class="header-btn2" style="width: 90px;">RENT <i class="fa-solid fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="property-boxarea">
                  <div class="img1">
                    <img src="{% static 'assets/img/all-images/حدائق.png' %}" alt="" style="height:89% ; width:100% ;">
                  </div>
                  <div class="sell-point">
                    <a href="" class="sell">FOR SALE</a>
                  </div>
                  <div class="content-area">
                    <a href="#">UnFurnished Apartment In Hadayeq El Qubba,cairo </a>
                    <p>Hadayeq El Qubba, Al Mahrousa St.</p>
                    <ul>
                      <li><a href="#"><img src="{% static 'assets/img/icons/sqft.svg' %}" alt="">150 sqm</a></li>
                      <li><a href="#"><img src="{% static 'assets/img/icons/bed.svg' %}" alt="">3 Beds</a></li>
                      <li class="m-0"><a href="#"><img src="{% static 'assets/img/icons/bath.svg' %}" alt="">2 Baths</a></li>
                    </ul>
                    <div class="price-area">
                      <h3>400,000 EGP</h3>
                      <div class="btn-area1">
                        <a href="{% url 'login' %}" class="header-btn2">BUY <i class="fa-solid fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="property-boxarea">
                  <div class="img1">
                    <img src="{% static 'assets/img/all-images/luxury-villas-6-october-003.jpg' %}" alt="">
                  </div>
                  <div class="sell-point">
                    <a href="#" class="sell">FOR SALE</a>
                  </div>
                  <div class="content-area">
                    <a href="#"> Sheikh Zayed City, Giza</a>
                    <p>Royal City, Sheikh Zayed City, Giza</p>
                    <ul>
                      <li><a href="#"><img src="{% static 'assets/img/icons/sqft.svg' %}" alt="">400 sqm</a></li>
                      <li><a href="#"><img src="{% static 'assets/img/icons/bed.svg' %}" alt="">4 Beds</a></li>
                      <li class="m-0"><a href="#"><img src="{% static 'assets/img/icons/bath.svg' %}" alt="">3 Baths</a></li>
                    </ul>
                    <div class="price-area">
                      <h3>18,000,000 EGP</h3>
                      <div class="btn-area1">
                        <a href="{% url 'login' %}" class="header-btn2">BUY <i class="fa-solid fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <div class="tab-pane fade" id="pills-apartment" role="tabpanel" aria-labelledby="pills-apartment-tab" tabindex="0">
            <div class="row">
              <div class="col-lg-4 col-md-6 ">
                <div class="property-boxarea">
                  <div class="img1">
                    <img src="{% static 'assets/img/all-images/apart.jpg' %}" alt="">
                  </div>
                  <div class="sell-point">
                    <a href="#" class="sell">FOR RENT</a>
                  </div>
                  <div class="content-area" >
                    <a href="#">Fully Furnished Apartment In Makram Ebeid,Nasr City  </a>
                    <p>Makram Ebeid St., 6th Zone, Nasr City, Cairo</p>
                    <ul>
                      <li><a href="#"><img src="{% static 'assets/img/icons/sqft.svg' %}" alt="">250 sqm</a></li>
                      <li><a href="#"><img src="{% static 'assets/img/icons/bed.svg' %}" alt="">3 Beds</a></li>
                      <li class="m-0"><a href="#"><img src="{% static 'assets/img/icons/bath.svg' %}" alt="">3 Baths</a></li>
                    </ul>
                    <div class="price-area mt-auto" >
                      <h3>6,000 EGP/month</h3>
                      <div class="btn-area1">
                        <a href="{% url 'login' %}" class="header-btn2" style="width: 90px;">RENT <i class="fa-solid fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="property-boxarea">
                  <div class="img1">
                    <img src="{% static 'assets/img/all-images/حدائق.png' %}" alt="" style="height:89% ; width:100% ;">
                  </div>
                  <div class="sell-point">
                    <a href="#" class="sell">FOR SALE</a>
                  </div>
                  <div class="content-area">
                    <a href="#">UnFurnished Apartment In Hadayeq El Qubba,cairo </a>
                    <p>Hadayeq El Qubba, Al Mahrousa St.</p>
                    <ul>
                      <li><a href="#"><img src="{% static 'assets/img/icons/sqft.svg' %}" alt="">150 sqm</a></li>
                      <li><a href="#"><img src="{% static 'assets/img/icons/bed.svg' %}" alt="">3 Beds</a></li>
                      <li class="m-0"><a href="#"><img src="{% static 'assets/img/icons/bath.svg' %}" alt="">2 Baths</a></li>
                    </ul>
                    <div class="price-area">
                      <h3>400,000 EGP</h3>
                      <div class="btn-area1">
                        <a href="{% url 'login' %}" class="header-btn2">BUY <i class="fa-solid fa-angle-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
          <div class="tab-pane fade" id="pills-villa" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
            
               
              <div class="col-lg-4 col-md-6 ">
                <div class="property-boxarea">
                  <div class="img1">
                    <img src="{% static 'assets/img/all-images/luxury-villas-6-october-003.jpg' %}" alt="">
                  </div>
                  <div class="sell-point">
                    <a href="#" class="sell">FOR SALE</a>
                  </div>
                  <div class="content-area">
                    <a href="#"> Sheikh Zayed City, Giza</a>
                    <p>Royal City, Sheikh Zayed City, Giza</p>
                    <ul>
                      <li><a href="#"><img src="{% static 'assets/img/icons/sqft.svg' %}" alt="">400 sqm</a></li>
                      <li><a href="#"><img src="{% static 'assets/img/icons/bed.svg' %}" alt="">4 Beds</a></li>
                      <li class="m-0"><a href="#"><img src="{% static 'assets/img/icons/bath.svg' %}" alt="">3 Baths</a></li>
                    </ul>
                    <div class="price-area">
                      <h3>18,000,000 EGP</h3>
                      <div class="btn-area1">
                        <a href="{% url 'login' %}" class="header-btn2">BUY <i class="fa-solid fa-angle-right"></i></a>
 
                      </div>
                      
                    </div>
                    
                  </div>
                  
                </div>
                                       <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
              </div>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
          </div>
<!--===== PROPERTIES AREA ENDS =======-->

<!--===== FOOTER AREA STARTS =======-->

<div class="footer2-section-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="footer-logo-area">
          <img src="{% static 'assets/img/logo/logo2.png' %}" alt="">
          <div class="space32"></div>
          <h4>Your dream property comes true</h4>
          <div class="space16"></div>
          <p>At Semsar, we are committed to providing exceptional service and support. Whether you are looking buy or rent in real estate, our team is here help.</p>
         
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg col-md-6">
        <div class="footer-header padding-left1">
          <h3>Quick Links</h3>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            

          </ul>
        </div>
      </div>

     

      <div class="col-lg col-md-6">
        <div class="footer-header">
           <h3>   Info   </h3>
          <ul>
            <li><span><img src="{% static 'assets/img/icons/location1.svg' %}" alt=""></span><a href="">57th Street, Al-Bashaer District.6th october</a></li>
            <li><span><img src="{% static 'assets/img/icons/call1.svg' %}" alt=""></span><a href="tel:(925)683-1469">+0201020017477</a></li>
            
          </ul>
        </div>
      </div>
    </div>
    <div class="space50 d-lg-block d-none"></div>
    <div class="space30 d-lg-none d-block"></div>
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright">
          <div class="pera">
            <p>ⓒCopyright 2025 Semsar . All rights reserved</p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!--===== FOOTER AREA ENDS =======-->

<!--===== JS SCRIPT LINK =======-->
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/fontawesome.js' %}"></script>
<script src="{% static 'assets/js/plugins/aos.js' %}"></script>
<script src="{% static 'assets/js/plugins/counter.js' %}"></script>
<script src="{% static 'assets/js/plugins/sidebar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/mobilemenu.js' %}"></script>
<script src="{% static 'assets/js/plugins/owlcarousel.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/nice-select.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick-slider.js' %}"></script>
<script src="{% static 'assets/js/plugins/circle-progress.js' %}"></script>
<script src="{% static 'assets/js/plugins/gsap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/Splitetext.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>